<nav>
  <button routerLink="">Home</button>
  <button routerLink="dashboard">Dashboard</button>
</nav>

<button (click)="loadFoo()">Load FooComponent</button>

<ng-container *ngIf="foo">
  <ng-template [ngComponentOutlet]="foo | async"
               [ngComponentOutletInjector]="fooInjector"></ng-template>
</ng-container>

<button (click)="updateInputs()">Update inputs</button>
<ng-container *ngIf="bar">
  <ng-template [lazyComp]="bar | async" [inputs]="inputs" [outputs]="outputs"></ng-template>
</ng-container>

<button (click)="t()">Load BarComponent</button>
<ng-template #vcr></ng-template>

<router-outlet></router-outlet>

